<div class="container">
    <div *ngIf="isDataSaved">
        <div class="alert alert-success">
          <strong>Updated!</strong> Complaint Sucessfuly Updated.
        </div>
      </div>
    <form (ngSubmit)="onSubmit(e)" #e="ngForm">
        <input type="text" class="form-control" placeholder="ID" ngModel name="id"
        value = {{editData.id}} readonly>
      <br>
      <input type="text" class="form-control" placeholder="First Name" ngModel name="firstName"
        value = {{editData.firstName}} >
      <br>
      <input type="text" class="form-control" placeholder="Last Name" ngModel name="lastName"
      value = {{editData.lastName}}>
      <br>
      <textarea type="text" class="form-control" placeholder="Address" ngModel name="address"
      value = {{editData.address}} >
      </textarea>
      <br>
      <input type="text" class="form-control" placeholder="Mobile No" ngModel name="phoneNo" 
      value = {{editData.phoneNo}} >
      <br>
      <input type="text" class="form-control" placeholder="Complaint Data" ngModel name="complaintData"
      value = {{editData.complaintData}} >
      <br>
      <input type="text" class="form-control" placeholder="Worker Assigned" ngModel name="workerAssigned"
      value = {{editData.workerAssigned}} >
      <div>
        <br>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>