<div class="container">
  <div *ngIf="isDataSaved">
    <div class="alert alert-success">
      <strong>Updated!</strong> Complaint Sucessfuly Updated.
    </div>
  </div>
  <form (ngSubmit)="onSubmit(e)" #e="ngForm">
      <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-asterisk"></i>
          </span>
    <input type="text" class="form-control" placeholder="ID" ngModel name="id" value= {{editData.id}} readonly>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <input type="text" class="form-control" placeholder="First Name" ngModel name="firstName" value=  {{editData.firstName}}>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <input type="text" class="form-control" placeholder="Last Name" ngModel name="lastName" value= {{editData.lastName}}>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-home"></i>
      </span>
      <textarea type="text" class="form-control" placeholder="Address" ngModel name="address" value= {{editData.address}}>
      </textarea>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-phone"></i>
      </span>
      <input type="text" class="form-control" placeholder="Mobile No" ngModel name="phoneNo" value= {{editData.phoneNo}}>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-leaf"></i>
      </span>
      <input type="text" class="form-control" placeholder="Complaint Data" ngModel name="complaintData" 
      value= {{editData.complaintData}}>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <input type="text" class="form-control" placeholder="Worker Assigned" ngModel name="workerAssigned" 
      value= {{editData.workerAssigned}}>
    </div>
    <div>
      <br>
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>
        Update</button>
  </form>
</div>